@import "../lf_194/leaflet.css";
@import "../lf_194/plugins/markerCluster/MarkerCluster.css";
@import "../lf_194/plugins/markerCluster/MarkerCluster.Default.css";
@import "../lf_194/plugins/controlOpacity/L.Control.Opacity.css";
@import "../lf_194/plugins/layersTree/L.Control.Layers.Tree.css";
@import "../lf_194/plugins/leaflet.measure/leaflet-measure.css";
@import "../lf_194/plugins/gestureHandling/leaflet-gesture-handling.css";
@import "../wg/idevAPI_widgets.css";
@import "https://cdn.datatables.net/v/dt/dt-1.10.21/sl-1.3.1/datatables.min.css";
@import "https://icv.gva.es/auto/aplicaciones/visor_gva_s/jquery-ui-1.12.1.custom/jquery-ui.css";

@font-face {
	font-family: Roboto;
	src: url(https://icvficherosweb.icv.gva.es/ICV/repositorio/fuentes/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: RobotoBold;
	src: url(https://icvficherosweb.icv.gva.es/ICV/repositorio/fuentes/roboto/Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoCondensed;
	src: url(https://icvficherosweb.icv.gva.es/ICV/repositorio/fuentes/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: ArialNarrowBold;
	src: url(https://icvficherosweb.icv.gva.es/ICV/repositorio/fuentes/arial_narrow/arial_narrow_bold.ttf);
}
.leaflet-container {
	font-family:Roboto;
}
html, body {
	font-family:Roboto;
}
#mapaIDEV{
	position: relative;
}
@media screen and (max-device-width: 750px) {
	#mapaIDEV{
		width:100% !important;
	}
}
#mapa{
	position: absolute;
	top:0px;
	left:0px;
}
#controles{
	position: relative;
	top:0px;
	left:0px;
}
select{
	font-family:Roboto;
	padding:2px;
	border: 1px solid rgb(0,103,127);
	border-radius: 3px;
}
select:hover{
	border: 1px solid rgb(0,103,127);
}
.cargandoMapa {
	background: url(../images/cargando_capas.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 5000;
    background-repeat: no-repeat;
	display:none;
}
/***************** INFO POPUP ******************************************/
.leaflet-popup-content{
	max-height: 300px;
	max-width: 320px;
    width: 300px !important;
	margin: 15px 15px 8px 10px;
    line-height: 1.4;
	overflow-y: auto;
}
@media screen and (max-width: 350px) {
	.leaflet-popup-content{
		width: 250px !important;
	}
}

.leaflet-popup-content-ancho100{
    width: 100px !important;
}
.leaflet-popup-content-ancho150{
    width: 150px !important;
}
.leaflet-popup-content-ancho200{
    width: 200px !important;
}
.leaflet-popup-content-ancho250{
    width: 250px !important;
}
.leaflet-popup-content-ancho300{
    width: 300px !important;
}
.leaflet-popup-content-ancho350{
    width: 350px !important;
}

/***************** ETIQUETAS CAPAS GEOJSON ******************************************/
.leaflet-tooltip2 {
    padding: 0;
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    color: rgb(0,0,0);
    box-shadow: none !important;
}

/**************************** TABLAS TODAS **********************************/
.bodyInfo {
	margin:0;
	font-size:12px;
}
.idevapiEnlace {
    color: #3366FF;
    text-decoration: underline;
}
.idevapiEnlace:hover {
    color: #006699;
    cursor:pointer;
}
/**************************** TABLA POR DEFECTO **********************************/
table.tablaInfo {
	background-color: rgb(237,237,237);
	width:100%;
	/*max-width:300px;*/
	text-align: left;
	border-style: hidden;
	border: 1px solid black;
	border-collapse: separate;
    border-spacing: 0;
	border-radius: 6px;
}
.tablaInfo td.cabecera {
	background-color: rgb(168, 180, 187);
	color:black;
	border-radius: 5px 5px 0px 0px;
	margin: 4px 0px 0px 0px;
	font-family:RobotoBold;
	text-align: center;
	padding:3px 3px 3px 3px;
}
.tablaInfo span.cabeceraTitulo {
	font-family:Roboto;
}
table.tablaInfo td {
	padding:1px 2px 1px 5px;
}
table.tablaInfo tr:nth-child(even) {
	background-color: rgb(224, 224, 224);
}
table.tablaInfo tr:last-child td:last-child {
	border-radius: 0px 0px 5px 0px;
}
table.tablaInfo tr:last-child td:first-child{
	border-radius: 0px 0px 0px 5px;
}
table.tablaInfo tr:last-child td:first-child:last-child {
	border-radius: 0px 0px 5px 5px;
}
table.tablaInfo td.tNombre {
	color: rgb(60, 60, 60);
    hyphens: auto;
	word-wrap: break-word;
}
table.tablaInfo td.tValor {
	color: black;
    hyphens: auto;
	word-wrap: break-word;
}

/**************************** TABLA AZUL GVA **********************************/
table.tablaInfoGVA {
	background-color: rgb(237,237,237);
	width:100%;
	text-align: left;
	border-style: hidden;
	border: 1px solid rgb(20, 60, 160);
	border-collapse: separate;
    border-spacing: 0;
	border-radius: 6px;
	margin-bottom:2px;
}
.tablaInfoGVA td.cabecera {
	background-color: rgb(20, 60, 160);
	color:white;
	border-radius: 5px 5px 0px 0px;
	margin: 4px 0px 0px 0px;
	text-align: center;
	padding:3px 3px 3px 3px;
}
.tablaInfoGVA span.cabeceraValor {
	font-family:RobotoBold;
}
table.tablaInfoGVA td {
	padding:1px 2px 1px 5px;
}
table.tablaInfoGVA tr:nth-child(even) {
	background-color: rgb(224, 224, 224);
}
table.tablaInfoGVA tr:last-child td:last-child {
	border-radius: 0px 0px 5px 0px;
}
table.tablaInfoGVA tr:last-child td:first-child{
	border-radius: 0px 0px 0px 5px;
}
table.tablaInfoGVA tr:last-child td:first-child:last-child {
	border-radius: 0px 0px 5px 5px;
}
table.tablaInfoGVA td.tNombre {
	color: rgb(60, 60, 60);
    hyphens: auto;
	word-wrap: break-word;
}
table.tablaInfoGVA td.tValor {
	color: black;
    hyphens: auto;
	word-wrap: break-word;
}

/**************************** TABLA AZUL ICV **********************************/

table.tablaInfoICV {
	background-color: rgb(237,237,237);
	width:100%;
	text-align: left;
	border-style: hidden;
	border: 1px solid rgb(0,103,127);
	border-collapse: separate;
    border-spacing: 0;
	border-radius: 6px;
	margin-bottom:2px;
}
.tablaInfoICV td.cabecera {
	background-color: rgb(0,103,127);
	color:white;
	border-radius: 5px 5px 0px 0px;
	margin: 4px 0px 0px 0px;
	font-family:RobotoBold;
	text-align: center;
	padding:3px 3px 3px 3px;
}
.tablaInfoGVA span.cabeceraValor {
	font-family:RobotoBold;
}
table.tablaInfoICV td {
	padding:1px 2px 1px 5px;
}
table.tablaInfoICV tr:nth-child(even) {
	background-color: rgb(224, 224, 224);
}
table.tablaInfoICV tr:last-child td:last-child {
	border-radius: 0px 0px 5px 0px;
}
table.tablaInfoICV tr:last-child td:first-child{
	border-radius: 0px 0px 0px 5px;
}
table.tablaInfoICV tr:last-child td:first-child:last-child {
	border-radius: 0px 0px 5px 5px;
}
table.tablaInfoICV td.tNombre {
	color: rgb(60, 60, 60);
    hyphens: auto;
	word-wrap: break-word;
}
table.tablaInfoICV td.tValor {
	color: black;
    hyphens: auto;
	word-wrap: break-word;
}

/******CONTROL CAPAS TOC *******/

@media screen and (max-device-width: 750px) {
	/*.leaflet-container {
		font-size: 16px;
	}*/

	/*.leaflet-popup-content-wrapper {
		font-size: 10px !important;
	}*/
}

/******* CONTROL ESCALA GRAFICA ********/
.leaflet-control-scale-line {
	border-style: solid;
	border-width: 0px 2px 2px 2px;
	border-color: #00677F;
	color: #00677F;
}

/******* CONTROL CAPAS ********/

.leaflet-touch .leaflet-control-layers-toggle {
	background-image: url(../images/capas.svg);
	background-size: 24px 24px;
	width: 30px;
	height: 30px;
}

.leaflet-bottom.leaflet-left .leaflet-control-layers-toggle {
	background-image: url(../images/capas_base.svg);
	background-size: 24px 24px;
	width: 30px;
    height: 30px;
}

.control-opacidad .leaflet-control-layers-toggle {
    background-image: url(../images/transparencia.png);
    background-size: 30px 24px;
	}

.control-consulta .leaflet-control-layers-toggle {
	background-image: url(../images/consulta_60x60.png);
	background-size: 30px 24px;
}

.control-leyenda .leaflet-control-layers-toggle {
	background-image: url(../images/leyenda_60x60.png);
	background-size: 30px 24px;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px;
    height: 30px;
}

.leaflet-control-layers-scrollbar {
    overflow-y: auto;
}

/******* CONTROL ZOOM ********/
.leaflet-touch .leaflet-control-layers {
	border: 1px solid rgb(0,103,127);
}
.leaflet-control-layers {
	background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
}
.leaflet-control-layers-base {
	color: black;
	text-align: left !important;
}
.leaflet-control-layers-base span{
	font-size: 12px !important;
	line-height: 18px !important;
}
.leaflet-control-layers-base input{
	font-size: 11px !important;
	line-height: normal !important;
	margin-top:2px !important;
	margin-bottom:2px !important;
}
.leaflet-control-layers-separator {
    border: 1px solid;
	border-image: linear-gradient(to left, rgba(0,103,127,0.1), rgb(0,103,127),rgba(0,103,127,0.1));
	border-image-slice: 1;
}
.leaflet-control-layers-overlays {
	color: #00677f;
}
.leaflet-control-layers-base {
	color: #00677f;
}
.leaflet-control-layers-expanded {
	background-color: rgba(255,255,255,0.9);
}
/******* CONTROL ESCALA GRÁFICA ********/
.leaflet-touch .leaflet-bar {
	border: none;
}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	margin: -1px 0px 0px 0px;
}
.leaflet-touch .leaflet-bar a:first-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.leaflet-touch .leaflet-bar a {
	width: 30px;
    height: 30px;
	line-height:30px;
    /*width: 24px;
    height: 24px;
    line-height: 24px;*/
}
.leaflet-bar a{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgb(0,103,127);
	color: #00677F;
}
.leaflet-bar a:hover{
	background-color: rgba(255,255,255,0.8);
	border: 1px solid rgb(0,103,127);
	color: rgb(0,103,127);
}

/******CONTROL MEDICIÓN *******/

.controlMedir {
	border: 1px solid rgb(0,103,127) !important;
	border-radius:5px !important;
	background-color: rgba(255,255,255,0.6) !important;
	background-size:24px 24px !important;
}
.medirAnchoPopup {
	width:250px; 
}
.leaflet-bar {
	border-radius: 5px;
}
.etiquetasDesc {
    color:#999;
	padding-right:5px;
}

/******* CONTROL DERECHOS ********/
#divPropietario {
	background-color: rgb(255,255,255,0.75);
}
.leaflet-container .leaflet-control-attribution {
	background: none;
	margin: 0px 0px 5px 0px;
}
.leaflet-control-attribution a {
	font-size: 11px;
    color: black !important;
}
.leaflet-control-attribution img {
	width: 60px;
}
.leaflet-bottom.leaflet-right{z-index:999;}

/*Dialogos Tablas
/*Dialogos JQuery UI*/
.ui-dialog .ui-dialog-content {
	padding: .4em .1em .2em .1em;
}
.ui-widget-header {
	color:white;
}

.ui-widgetGVA {
	border: 1px solid rgb(150, 5, 30) !important;
}
.ui-widget-headerGVA {
    border: 1px solid rgb(150, 5, 30);
    background: rgb(150, 5, 30);
}

.ui-dialog-titlebar-closeGVA {
	background: rgb(150, 5, 30);
	border: 1px solid rgb(200,200,200);
}
.ui-dialog-titlebar-closeGVA:hover {
	background: rgb(224, 119, 137);
	border: 1px solid rgb(220,220,220);
}
.ui-dialog .ui-dialog-title {
	font-family:RobotoBold;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 2px 2px 1px 5px;
}
.ui-dialog{
	z-index:2000;
}
.ui-dialog-content{
	font-size:0.9em;
}

/*********  ELEMENTOS DE LAS VENTANAS  ***********************/
.ventanaTodo {
	display:flex;
	flex-direction:column;
	padding: 5px 5px 3px 5px;
}
.ventanaPie {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top:8px;
}
.ventanaBoton {
	display:flex;
	justify-content:center;
	align-items:center;
	padding: 3px;
	margin: 2px;
	color:rgb(201,217,225);
	background-color: rgb(0, 103, 127);
	border: 1px solid rgb(0,103,127);
	border-radius: 3px;
}

.ventanaBotonGVA {
	background-color: rgb(150, 5, 30);
	border: 1px solid rgb(150, 5, 30);
	color:rgb(230,230,230);
}

.ventanaBoton:hover{
	cursor:pointer;
	opacity:0.8;
}

.ventanaBotonActivo {
	opacity:0.7;
	border: 1px solid rgb(255, 145, 0);
}

/*********  SELECT2   ********/
/*********  Icono borrar selección   ********/
.select2-container--default .select2-selection--single .select2-selection__clear {
	margin-right: 18px;
	width:22px;
	height:26px;
	background-image: url(../images/select2_limpiar.svg);
	background-size:20px 18px;
	background-repeat: no-repeat;
	background-position: center;
}
.select2-selection__clear span {
	display:none;
}

/*********  INPUTS FILTROS   ********/
.inputFiltro {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
}
.inputFiltroTxt {
	padding-left: 8px;
	padding-right: 30px;
	height: 26px;
	font-size: 12px;
	width: 100%;
	color: rgb(87, 83, 83);
	border: 1px solid rgb(151, 144, 144);
	border-radius: 4px;
}
.inputFiltroTxt::placeholder {
	font-size: 12px;
	color: rgb(153,153,153);
}

.inputFiltroFecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Asegura que el contenedor principal ocupe el ancho completo disponible */
    overflow: hidden; /* Evita el desbordamiento */
}

.inputContenedorFecha {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden; /* Evita el desbordamiento dentro del contenedor de los inputs */
}

.inputFiltroFechaTxt {
    font-family: Roboto;
    font-size: 12px;
    height: 26px;
    color: rgb(87, 83, 83);
    border: 1px solid rgb(151, 144, 144);
    border-radius: 4px;
    margin-right: 2px;
    flex-grow: 1;
    min-width: 0;
}

.inputClearIconFecha {
    padding: 0px 2px 0px 2px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.inputRefreshFiltro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid rgb(151, 144, 144);
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 4px;
    flex-shrink: 0;
}

.inputRefreshFiltro:hover {
    background-color: #cfcece;
}

.inputRefreshFiltro i {
    font-style: normal;
}

.inputContendedor {
    position: relative;
    display: flex;
    align-items: center;
	width: 100%;
}
.inputClearIcon {
    position: absolute;
    right: 5px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}
/************* LEYENDA **********************/
.IDEVAPILeyendaTituloGrupo {
	font-family: RobotoBold;
	font-size:13px;
}
.IDEVAPILeyendaTituloCapa {
	font-family: RobotoBold;
	font-size:12px;
	margin-left: 5px;
    margin-bottom: 3px;
}
.IDEVAPILeyenda {
	font-family: Roboto;
	font-size: 11px;
	margin-left: 3px;
}
.select2-selection__rendered{
	margin-left: 1px;
}



/************* CONTROL MULTISELECTOR **********************/
.select2-selection__choice {
	background-color: rgb(0, 103, 127, .5) !important;
} 

.select2-selection--multiple .select2-search__field{
	width: 80% !important;
	margin-left: 8px !important;
}

.select2-selection--multiple .select2-search__field::placeholder{
	color: #999 !important;
}


/* Boton eliminar seleccion */
.select2-selection__choice__remove{
	margin-top: 2px;
	color: black !important;
}

.select2-selection__arrow{
	height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
	cursor: pointer;
}

.dropdown-multiple{
	cursor: pointer;
	border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-selection__choice__display{
	font-weight: bold;
}

/* .select2-container--default .select2-results__option--selected{
	background-color: rgb(199, 15, 45, 0.2) !important;
} */

.select2-container--default .select2-selection--multiple .select2-selection__clear {
	margin-right: 22px !important;
	width:22px;
	height:26px;
	background-image: url(../images/select2_limpiar.svg);
	background-size:20px 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	cursor: pointer;
	max-width: 80% !important;
}

.select2-container--default .select2-selection--multiple{
	padding-bottom: 0px !important;
}

.select2-container .select2-selection--multiple{
	min-height: 0px !important;
} 

.select2-container--default .select2-search--inline .select2-search__field{
	margin-top: 8px !important;
	cursor: pointer !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
	border: solid #555 2px !important;
}

.check-selected{
	background-image: url(../images/check_multiple.svg); 
	background-size: cover; 
	background-position: center; 
	height: 20px; 
	width: 20px; 
}

.selected-span{
	display: flex;
}

.selected-text{
	width: 90%;
}

/* ESTILOS TABLA */

#tablaDeDatos_wrapper{
    bottom: 0;
    left: 0;	
    background-color: white;
    padding: 10px;
	height: 100%;
	/* border-top: 3px black solid; */
}

#tablaDeDatos tr{
	cursor: pointer;
}

/* #tablaDeDatos{
	margin-top: 45px;
} */

#tablaDeDatos_filter{
	margin-right: 20px;
	margin-top: 4px;
}

#contenedorTabla {
    position: relative;
}

#cerrarTablaButton {
	float: right;
	margin-top: 2px;
    background-color: #f44336;
    color: white;
    border-radius: 10%;
	border: none;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
}

#cerrarTablaButton:hover{
	background-color: #d11b0e;
}

.spanTabla{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.imgTabla{
	height: 16px;
	float: right;
	margin-left: 5px;
	margin-top: 2px;
}

.imgTabla:hover{
	cursor: pointer;
	opacity: 0.8;
}

#divTablaCabecera{
	width: 100%;
	height: 0px;
}

.botonesTabla{
	cursor: pointer;
	color: #00677f;
	/* padding: 6px 10px 6px 6px; */
	background: #fff;
	border-radius: 10px;
	margin-right: 10px;
}

.botonesTabla:hover{
	background: #e0e0e0;
}

.dataTables_info{
    width: 99%;
    background-color: #f9f9f9; /* Color de fondo del footer */
    padding: 10px; /* Espaciado interno del footer */
    border-top: 1px solid #ccc; /* Borde superior del footer */
}

.resize-icon {
    position: absolute;
    bottom: 0px; /* Ajusta este valor a lo que necesites */
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
    background-color: black;
    cursor: ns-resize;
	z-index: 1000;
	border-top-left-radius: 10px;  /* Ajusta este valor a lo que necesites */
    border-top-right-radius: 10px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.linea-gris {
    height: 3px;
    width: 80%; /* Ajusta según tus necesidades */
    background-color: grey;
}

.ui-resizable-handle{
	background: grey;
	height: 5px;
	z-index: 1000 !important;
	border: 1px black solid;
	margin-bottom: 5px;
}

#divMinimizar{
	position: absolute;
    bottom: -20px;
    height: 30px;
    background-color: #00677f;
    z-index: 999;
	cursor: pointer;
	left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
	width: 20%;
	border-radius: 50px;
	text-align: center;
	border: 1px solid white;
}

#divIconoMinimizar{
	position: absolute;
    width: 60px;
	height: 30px;
	cursor: pointer;
	left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
	background-repeat: no-repeat;
}

#svgMinimizar{
	width: 50px;
    height: 20px;
    margin-top: 14px;
}

.dataTables_scroll{
	overflow: auto !important;
}

.dataTables_scrollBody
{
	overflow: visible !important;
}

.dataTables_scrollHead
{
	overflow: visible !important;
	z-index: 10;
	position: sticky !important;
	top: 0;
    background: white;
}

.dataTables_scrollHeadInner{
	background-color: white;
}




@media (max-width: 768px) {
    #divTablaCabecera {
        height: 30px;	
    }

	#tablaDeDatos_filter{
		float: left;
		margin-left: 4px;
	}

	#cerrarTablaButton{
		margin-top: 0px;
	}

	.dataTables_scroll{
		overflow: auto;
	}
	
	.dataTables_scrollHead{
		overflow: visible !important;
	}
	
	.dataTables_scrollBody{
		overflow: visible !important;
	}
}