<!DOCTYPE html>

  <div id="vAddLayer" class="js-idioma" data-string="vAddLayer" title="Añadir Capa">
    <div id="gifCargaTabla" style="display:none;"></div>
    <div id="tabsAddLayer">
      <ul>
        <li><a href="#tabCargaWMS"><span class="js-idioma" data-string="vAddLayerServWMS">Serveis WMS</span></a></li>
        <li><a href="#tabCargaAGFS"><span class="js-idioma" data-string="vAddLayerServAGFS">ArcGIS Server WMS</span></a></li>
        <li><a href="#tabCargaFichero"><span class="js-idioma" data-string="vAddLayerFichero">Fitxers</span></a></li>
      </ul>
      <div id="tabCargaWMS">
        <p>
        <span class="js-idioma" data-string="vAddLayerTextoWMS">Introduïu enllaç al servei WMS a carregar:</span><br>
        <input id="inputServicioWMSP" class="input" class="inputVisorBuscar" maxlength="450" value="https://carto.icv.gva.es/arcgis/services/tm_medio_ambiente/espacios_protegidos/MapServer/WmsServer" style="width:380px">
        <input id="inputDireccionWMS" class="input" version="" titulo="" capas="" escala="" md="" type="hidden" value="">
        <input id="inputNombreServicioWMS" class="input" type="hidden" value="">
        <button id="leerCapas" onClick="leerWMSLayer()"><span class="js-idioma" data-string="vAddLayerLeer">Llegiu capes</span></button>
        </p>
        <p><span id="textoMensajeWMS" style="color:red;font-size:0.8em;"></span>
        </p>
        <p><span class="js-idioma" data-string="vAddLayerSelec">Seleccioneu capes (selecció múltiple amb tecla 'Shift' o 'Control'):</span><br>
        <select id="capasServicioWMS" multiple="multiple" size="10" style="width:460px; overflow-y:auto">
          <option>  </option>
        </select>
        </p>
        <p>
        <span class="js-idioma" data-string="vAddLayerNombreCapa">Nom de la capa</span> <input id="inputNombreCapaWMS" maxlength="450" value="" style="width:350px">
        </p>
        <table class="pieVentana">
          <tr><td>
            <button id="cargaCapaWMS" onClick="botonAnadirCapaWMS()"><span class="js-idioma" data-string="vAddLayer">Afegiu capa</span></button>
          </td></tr>
        </table>
      </div>
      <div id="tabCargaAGFS">
        <p>
        <span class="js-idioma" data-string="vAddLayerTextoAGFS">Introduïu enllaç al servei ArcGIS Server WMS a carregar i l'identificador de la capa:</span><br>
        <input id="inputServicioAGFS" class="inputVisorBuscar" maxlength="450" value="https://carto.icv.gva.es/arcgis/services/ivace/parques_empresariales_v7/MapServer/WMSServer" style="width:380px">
        <input id="inputLayerAGFS" class="inputVisorBuscar" maxlength="450" value="0" style="width:50px">

        </p>
        <p>
        <span id="textoMensajeAGFS" style="color:red;font-size:0.8em;"></span>
        </p>
        <p>
        <span class="js-idioma" data-string="vAddLayerNombreCapa">Nom de la capa</span> <input id="inputNombreCapaAGFS" class="inputVisor" maxlength="450" value="Capa ArcGIS Feature Service" style="width:350px">
        </p>
        <table class="pieVentana">
          <tr><td>
            <button id="cargaCapaAGFS" onClick="botonAnadirAGSLayer()"><span class="js-idioma" data-string="vAddLayer">Afegiu capa</span></button>
          </td></tr>
        </table>
      </div>
      <div id="tabCargaFichero">
        <p>
        <span class="js-idioma" data-string="vAddLayerTextoFichero">Seleccioneu el fitxer a carregar (grandària màxima 10 MB):</span><br>
        &nbsp;&nbsp;&nbsp;(.zip (SHP), .json .geojson (GeoJSON), .kml, .kmz, .gpx, .gml, .csv, .dxf, .dgn)</p>
        <p>
        <input id="files-upload" class="input" type="file" multiple>
        </p>
        <div id="drop-area">
          <span class="drop-instructions">&nbsp;&nbsp;<span class="js-idioma" data-string="vAddLayerFicheroArrastrar">O arrossegueu els fitxers ací..</span></span>
        </div>
        <input id="ficheroValor" type="hidden" value="">
        <p>
        <span id="TAnadirCapaFicheroSRS" class="js-idioma" data-string="vAddLayerFicheroSRS">Seleccioneu sistema de referència del fitxer:</span>
        <select id="SAnadirCapaFicheroSRS">
          <option value=""></option>
          <option value="EPSG:25830">EPSG:25830</option>
          <option value="EPSG:25831">EPSG:25831</option>
          <option value="EPSG:23030">EPSG:23030</option>
          <option value="EPSG:23031">EPSG:23031</option>
          <option value="EPSG:4326">EPSG:4326</option>
          <option value="EPSG:3857">EPSG:3857</option>
        </select>
        </p>
        <p>
        <span class="js-idioma" data-string="vAddLayerNombreCapa">Nom de la capa</span> <input id="inputNombreCapaFichero" class="input" maxlength="450" value="" style="width:350px">
        </p>
        <p>
        <span id="textoMensajecargaFichero" style="color:red;font-size:0.8em;"></span><br>
        </p>
        <table class="pieVentana">
          <tr><td>
            <div id="cargandoCapaFichero" style="display:none;width:360px;"><img id="cargarCapasImagenCargando" src=""></div>
          </td>
          <td>
            <button id="cargaCapaFichero" onClick="botonAnadirFichero()"><span class="js-idioma" data-string="vAddLayer">Afegiu capa</span></button>
          </td></tr>
        </table>
      </div>
    </div>
  </div>
