<!DOCTYPE html>
<!--VENTANA ZOOM A XY-->
<div id="vZoomXY" class="idevapi-js-idioma" data-string="vZoomXY" title="Zoom a coordenadas">
  <div class="idevapi-ventana-todo">
    <div class="idevapi-js-idioma" data-string="vZoomXYSelecSRS">Seleccione Sistema de Referencia:</div>
    <div>
      <select id ="zZoomXYSRS">
        <option value="25830" selected="selected" class="idevapi-js-idioma" data-string="vZoomXYETRS89_30">ETRS89 (UTM, Huso 30)</option>
        <option value="25831" class="idevapi-js-idioma" data-string="vZoomXYETRS89_31">ETRS89 (UTM, Huso 31)</option>
        <option value="23030" class="idevapi-js-idioma" data-string="vZoomXYED50_30">ED50 (UTM, Huso 30)</option>
        <option value="23031" class="idevapi-js-idioma" data-string="vZoomXYED50_31">ED50 (UTM, Huso 31)</option>
        <option value="4326D" class="idevapi-js-idioma" data-string="vZoomXYWGS84Dec">WGS84 (grados decimales)</option>
        <option value="4326S" class="idevapi-js-idioma" data-string="vZoomXYWGS84Sex">WGS84 (grados sexagesimales)</option>
        </select>
    </div>
    <div class="idevapi-js-idioma" data-string="vZoomXYCoords">Coordenadas a localizar:</div>
    <div id="vZoomXYCoordXY">
      &nbsp;&nbsp;X:&nbsp;<input id="zoomX" class="input" maxlength="10" type="text" value="725500"  style="width:120px"><br/>
      &nbsp;&nbsp;Y:&nbsp;<input id="zoomY" class="input" maxlength="11" type="text" value="4296800" style="width:120px"><br/>
    </div>
    <div id="vZoomXYCoordGeoDec" style="display:none">
      &nbsp;&nbsp;<span class="idevapi-js-idioma" data-string="vZoomXYLon">Longitud:</span>&nbsp;<input id="zoomLonDec" class="input" maxlength="12" type="text" value="-0.40363592" style="width:85px"><br/>
      &nbsp;&nbsp;<span class="idevapi-js-idioma" data-string="vZoomXYLat">Latitud:</span>&nbsp;<input id="zoomLatDec" class="input" maxlength="12" type="text" value="38.79112486" style="width:85px"><br/>
    </div>
    <div id="vZoomXYCoordGeoSex" style="display:none">
      &nbsp;&nbsp;<span class="idevapi-js-idioma" data-string="vZoomXYLon">Longitud:</span>&nbsp;<input id="zoomLonSexG" class="input" maxlength="2" type="text" style="width:20px">º <input id="zoomLonSexMin" class="input" maxlength="2" type="text" style="width:22px">' <input id="zoomLonSexSeg" class="input" maxlength="10" type="text" style="width:60px">"<br/>
      &nbsp;&nbsp;<span class="idevapi-js-idioma" data-string="vZoomXYLat">Latitud:</span>&nbsp;<input id="zoomLatSexG" class="input" maxlength="2" type="text" style="width:22px">º <input id="zoomLatSexMin" class="input" maxlength="2" type="text" style="width:22px">' <input id="zoomLatSexSeg" class="input" maxlength="10" type="text" style="width:60px">"<br/>
    </div>
    <div style="display:flex;align-items:center;justify-content:flex-start;gap:8px;flex-wrap:wrap;">
      <input type="checkbox" id="checkBufferZoomXY"><label class="idevapi-js-idioma" data-string="vZoomXYcheckBufferZoomXY" for="checkBufferZoomXY">Crear zona de influencia</label>
      <div id="divValorZoomXY"><input type="number" id="valorBufferZoomXY" min="0" max="100000" disabled="true" style="width:60px;"><span disabled="true">&nbsp;m</span></div>
    </div>
    <div class="idevapi-ventana-pie" style="width: 210px;">
      <div id="borrarGraficosXY" class="idevapi-ventana-boton"><img id="zoomXYImagenBorrar" src="" style="width:16px;height:16px;padding-right:4px;"> <span class="idevapi-js-idioma" data-string="vZoomXYBorrar">Borrar</span></div>
      <div id="vZoomXYCapturaPunto" class="idevapi-ventana-boton"><img id="ZoomXYImagenCaptura" src="" style="width:16px;height:16px;padding-right:4px;"> <span class="idevapi-js-idioma" data-string="vZoomXYCaptura">Capturar en mapa</span></div>
      <div id="zoomAPunto" class="idevapi-ventana-boton"><img id="zoomXYImagenZoom" src="" style="width:16px;height:16px;padding-right:4px;"> <span class="idevapi-js-idioma" data-string="vZoomXYZoom">Zoom a punto</span></div>
    </div>
  </div>
</div>
